<%- include ('../../partials/header.ejs');%>
<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="post">
                <input class="form-control" name="email" type="email" placeholder="emai@gmail.com"><br>
                <input class="form-control" name="password" type="password" placeholder="******"><br>
                <button type="submit" class="btn btn-primary btn-lg col-12">Logar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../../partials/footer.ejs');%>